@font-face{
font-family:"ScienceGothic-Black.ttf";
src: url(/app_one/static/src/fonts/ScienceGothic-Black.ttf)
}@font-face{
font-family:"ScienceGothic_UltraExpanded-Thin.ttf";
src: url(/app_one/static/src/fonts/ScienceGothic_UltraExpanded-Thin.ttf)
}